name: Backend Lint

on:
  push:
    paths:
      - "apps/backend/**"
  pull_request:
    paths:
      - "apps/backend/**"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install backend deps
        working-directory: apps/backend
        run: npm install

      - name: Run backend lint
        working-directory: apps/backend
        run: npm run lint
